<div class="header">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
</div>

<div class="form">
  <form action="answer" method="get" class="form-inline">
    <input type="text" id="input" name="question" class="form-control">
    <button type="submit" class="btn btn-primary">Ask</button>
  </form>
</div>
